/*
@import "tailwindcss";
*/


.modal {
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.4);
}

.modal-content {
    background-color: #34569e;
    margin: 10% auto;
    padding:20px;
    border: 1px solid #888;
    width: 80%;

}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

input, button, label {
    margin-top: 10px;
    margin-right: 10px;
}

body {
    background-color: #186888;
    color: white;
}